body{
	position: relative;
	top:2vh;
	width: 90vw;
	height: 95vh;
	border:5px dashed red;
	margin: 0 auto;
}
#cube{
	height:120px;
	width: 120px;
	position: relative;
	margin:60px;
	transform-style: preserve-3d;
	perspective: 100000px;
	transform: rotateX(10deg) rotateY(-10deg) rotateZ(-10deg);
	margin:auto;
	/*top:210px;*/
	margin-top:160px;
}
#cube:hover{
	animation: superTurn 5s ease-in-out infinite alternate; 
}
.face{
	height: 100%;
	width: 100%;
	position: absolute;
	top:50%;
	/*left:100%;*/
	/*transform: rotateX(40deg) rotateY(40deg);*/
	/*transition: all 1s;*/
}
.one{
	background-color: blue;
	/*transform: rotate(45deg);*/
}
.two{
	background-color: red;
	transform: rotateY(90deg) translateZ(-60px) translateX(-60px);
}
.three{
	background-color: orange;
	transform: rotateX(90deg) translateZ(60px) translateY(60px)
}
.four{
	background-color: green;
	transform: rotateX(90deg) translateZ(-60px) translateY(60px);
}
.five{
	background-color: pink;
	transform: rotateY(90deg) translateZ(60px) translateX(-60px);
}
.six{
	background-color: grey;
	transform: translateZ(120px);
}





@keyframes superTurn{
	0%{
		transform: rotateX(10deg) rotateY(-10deg) rotateZ(-10deg);
	}
	33%{
		transform: rotateX(360deg) rotateY(120deg) rotateZ(120deg);
	}
	66%{
		transform: rotateX(240deg) rotateY(360deg) rotateZ(240deg);
	}
	100%{
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}